.hh-article_list
	margin-top 60px
	flex-basis 30%
	display flex
	flex-direction column
	&__wrap
		display flex
		flex-wrap wrap
		justify-content space-between
		&::after
			content ''
			display block
			width 30%
	&__title
		margin 0 0 (gutter / 2)
		font-size px17
		color textColor
		line-height 1.6
		a
			font-weight 400
			color textColor
			&:hover
				color #F99F48
	&__description
		margin-top 0
	&__thumbnail
		width 100%
		a
			float left
			overflow hidden
			&:hover
				img
					transform scale(1)
		img
			transform scale(1.03)
			transition .3s ease-in-out
	&__info
		width 100%
		margin-top gutter

.hh-article_list
	.hh-meta
		.hh-meta__date
			margin 0
			width 100%

@media screen and (max-width: screenSmallMin)
	.hh-article_list
		margin-top 30px
		flex-flow column
		flex-basis 100%
		&__title
			font-size px18
			margin 0
			font-weight 700
		&__thumbnail,
		&__info
			width 100%
		&__info
			margin-top .8em
		&__description
			margin-bottom 0
			float left
			font-size px15
			line-height 1.7
