.hh-article_list
	display flex
	justify-content space-between
	margin-top 60px
	&__title
		margin 0
		font-size px20
		font-weight 300
		color textColor
		a
			color textColor
			&:hover
				color #F99F48
	&__description
		margin-top 0
	&__thumbnail
		width 30%
		a
			float left
			overflow hidden
			&:hover
				img
					transform scale(1)
		img
			transform scale(1.03)
			transition .3s ease-in-out
	&__info
		width 68%

@media screen and (max-width: screenSmallMin)
	.hh-article_list
		margin-top 40px
