.hh-article_list
	display flex
	justify-content space-between
	margin-top 60px
	&__title
		margin 0
		font-size px20
		color textColor
		a
			color textColor
			&:hover
				color #F99F48
	&__description
		margin-top 0
	&__thumbnail
		width 30%
		img
			border 5px solid #FFF
	&__info
		width 68%

@media screen and (max-width: screenSmallMin)
	.hh-article_list
		margin-top 40px
