.hh-button
	background-color #F99F48
	padding 0 10px
	color #FFF
	display inline-block
	box-sizing border-box
	border 1px solid #F99F48
	transition 0.2s linear
	&:hover
		color #F99F48
		text-decoration none
		background-color #fff

.hh-button.is-disabled
	background-color #F2F2F2
	border 1px solid #F2F2F2
	color #FFF
	&:hover
		color #FFF
		text-decoration none
		background-color #F2F2F2
