.hh-container
	padding 0 10px
	font-size px15

.hh-content
	max-width contentWidth
	margin 0 auto
	background-color #fff
	clear both

.hh-main
	width 640px
	float left

.hh-sidebar
	width (contentWidth - 640px - gutter)
	float left
	margin-top 60px
	margin-left gutter
