.hh-container
	padding 0 5%
	font-size px15

.hh-content
	max-width contentWidth
	margin 0 auto
	background-color #fff

.hh-form
	input,
	textarea
		margin-left 1em
		padding .5em
		font-family fontFamily
		min-width 20em
		border solid textColor 1px
	form
		& > p
			margin-bottom 2em
			label
				display flex
				justify-content flex-start
				align-items center
			button
				background-color textColor
				color #FFF
				border 0
				padding .5em 1.5em
	&__submit
		display flex
		justify-content center
		align-items center
