.hh-flipsnap
	width 100%
	margin 0 auto
	overflow hidden
	&__inner
		display flex
		justify-content center
		box-sizing border-box
	&__item
		margin 0 2.5%
		cursor ew-resize

.pointer
	text-align center
	span
		display inline-block
		width 8px
		height 8px
		border-radius 8px
		border 1px solid textColor
	span.current
		background siteColor
