.hh-footer
	width 100%
	margin-top 5em
	padding-top 2em
	padding-bottom 1em
	border-top 1px solid textColor
	border-bottom 5px solid textColor
	h4
		margin-bottom 0
	&__icons
		width 50%
		margin 0 auto
		p
			a
				color #42464c
	small
		font-family 'Ek Mukta', sans-serif
		font-weight 200
		a
			color textColor
			font-weight 400
