.hh-list__title
	margin-top 60px
	margin-bottom 0
	font-size px20
	color textColor
	a
		color textColor
		&:hover
			color #F99F48

@media screen and (max-width: screenSmallMin)
	.hh-list__title
		margin-top 40px

.hh-list__description
	margin-top 0
