.hh-nav
	margin-top 10px
	border-top 1px solid textColor
	border-bottom 1px solid textColor
	background-color textColor
	&__inner
		max-width contentWidth
		margin 0 auto
	&__list
		display flex
		justify-content flex-start
		margin 0
		padding 0
		li
			a
				color #FFF
				font-size px13
				display block
				padding .4em .8em
				text-decoration none
				font-weight 400
				&:hover
					background #FFF
					color textColor
					text-decoration none

@media screen and (max-width: screenSmallMin)
	.hh-nav
		padding 5px
		&__list
			flex-wrap wrap
			flex-direction row
			li
				width 50%
