.hh-nav
	margin-top 15px
	border-top 1px solid textColor
	border-bottom 1px solid textColor
	&__inner
		max-width contentWidth
		margin 0 auto
	&__list
		display flex
		justify-content flex-start
		margin 0
		padding 0
		li
			a
				color textColor
				font-size px14
				display block
				padding .5em
				text-decoration none
				&:hover
					background textColor
					color #FFF
					text-decoration none

@media screen and (max-width: screenSmallMin)
	.hh-nav
		padding 5px
