.hh-site_title
	font-family 'Source Sans Pro', "游ゴシック", YuGothic, fontFamily
	font-size px20
	font-weight 600
	margin 10px 0
	a
		text-decoration none
		font-weight 600
		color textColor

@media screen and (max-width: screenSmallMin)
	.hh-site_title
		margin-bottom 0
