.hh-site_title
	font-family 'Source Sans Pro', "游ゴシック", YuGothic, fontFamily
	font-size px20
	color #FFF
	font-weight 600
	a
		text-decoration none
		color #FFF
		font-weight 600
		&:visited
			color #FFF
		&:hover
			color #FFF

@media screen and (max-width: screenSmallMin)
	.hh-site_title
		margin-bottom 0
