.hh-site_title
	font-family fontFamily
	font-size px28
	font-weight 200
	line-height 1.2
	margin 10px 0
	a
		text-decoration none
		color textColor
		font-weight 400

@media screen and (max-width: screenSmallMin)
	.hh-site_title
		margin-bottom 0
