.hh-tags
	display flex
	&__list
		padding-left .3em
		li
			list-style-type none
			float left
			&:before
				content ', '
			&:first-child
				margin-left 0
				&:before
					content none

@media screen and (max-width: screenSmallMin)
	.hh-tags
		margin-left 1em
		p,
		ul,
		li
			margin 0

	.hh-article_list
		&__info
			.hh-tags
				display none
