/**-------------------------------------------------------------
 * Typography
 ------------------------------------------------------------**/
fontFamily = 'Josefin Sans', -apple-system, BlinkMacSystemFont, 'メイリオ', Arial, sans-serif

/**-------------------------------------------------------------
 * Media Queries
 ------------------------------------------------------------**/
screenSmallMin = 680px
screenMediumMin = 782px
screenLargeMin = 1000px

/**-------------------------------------------------------------
 * Base Variable
 ------------------------------------------------------------**/
imagesPath = 'images/'
contentWidth = 740px
gutter = 20px

/**-------------------------------------------------------------
 * Colors
 ------------------------------------------------------------**/
textColor = #1B435D
siteColor = #2077b2
siteSubColor = #85ccb0

// #1B435D
// #78BBE6
// #D5EEFF
// #F99F48

/**-------------------------------------------------------------
 * Prefix
 ------------------------------------------------------------**/
prefix = 'hh-'
