{{ partial "header" . }}
{{ partial "nav" . }}
    <section>
      <div class="hh-container">
        <div class="hh-content">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}{{ range sort $paginator.Pages }}
          <article>
            <h1 class="hh-list__title"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
            <p>{{ .Date.Format "January 2, 2006" }}</p>
            {{ if .Params.tags }}{{ partial "tags" .Params.tags }}{{ end }}
            {{ .Summary | plainify | safeHTML }}{{ if .Truncated }}<p class="hh-list__description">{{ .Description }}  <a class="hh-button" href="{{ .Permalink }}">Read more <i class="fa fa-angle-double-right"></i></a></p>{{ end }}
          </article>
        {{ end }}
      </div>
      </div>
    </section>
{{ partial "pager" . }}
{{ partial "footer" . }}
