{{ partial "header" . }}
{{ partial "nav" . }}
    <section class="section">
      <div class="container">
        <h1 class="title">{{ .Title }}</h1>
        <h2 class="subtitle is-5">{{ .Date.Format "January 2, 2006" }} {{ if (ne ($.Param "displayauthor") false) }}by {{ .Params.author | default .Site.Params.author }}{{ end }}</h2>
        {{ if .Params.tags }}
          {{ partial "tags" .Params.tags }}
        {{ end }}
        <div class="content">
          {{ .Content }}
          {{ if .Params.related }}
            {{ $related := .Params.related }}
            <h2>関連記事</h2>
            <ul>
              {{ $page_link := .Permalink }}
              {{ $title := .Title }}
              {{ range (where .Site.Pages ".Params.related" $related) }}
              {{ $page := . }}
              {{ if ne $title  $page.Title }}
              <li><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></li>
              {{ end }}
              {{ end }}
            </ul>
          {{ end }}
          <div class="pagination">
            {{ if .Next }}<div><p>前の記事: <a class="next" href="{{.Next.Permalink}}">{{ .Next.Title }}</a></p></div>{{ end }}
            {{ if .Prev }}<div><p>次の記事: <a class="previous" href="{{.Prev.Permalink}}">{{ .Prev.Title }}</a></p></div>{{ end }}
          </div>
        </div>
        {{ if (ne ($.Param "sharingicons") false) }}
        {{ partial "sharing.html" . }}
        {{ end }}
      </div>
    </section>
{{ partial "disqus" . }}
{{ partial "footer" . }}
