{{ partial "header" . }}
{{ partial "nav" . }}
    <section class="section">
      <div class="container">
        <h1 class="title">{{ .Title }}</h1>
        <h2 class="subtitle is-5">{{ .Date.Format "January 2, 2006" }} {{ if (ne ($.Param "displayauthor") false) }}by {{ .Params.author | default .Site.Params.author }}{{ end }}</h2>
        {{ if .Params.tags }}
          {{ partial "tags" .Params.tags }}
        {{ end }}
        <div class="content">
          {{ .Content }}
          {{ if .Params.related }}
          {{ $related := .Params.related }}
          <h2>関連記事</h2>
          <ul>
            {{ $page_link := .Permalink }}
            {{ $title := .Title }}
            {{ range (where .Site.Pages ".Params.related" $related) }}
            {{ $page := . }}
            {{ if ne $title  $page.Title }}
            <li><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></li>
            {{ end }}
            {{ end }}
          </ul>
          {{ end }}
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                {{ if .Next }}
                <a class="button" href="{{ .Next.Permalink }}"><span class="icon is-small is-marginless"><i class="fa fa-angle-left"></i></span>前の記事</a>
                {{ else }}
                <a class="button is-disabled">前の記事</a>
                {{ end }}
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                {{ if .Prev }}
                <a class="button" href="{{ .Prev.Permalink }}">次の記事<span class="icon is-small is-marginless"><i class="fa fa-angle-right"></i></span></a>
                {{ else }}
                <a class="button is-disabled">次の記事</a>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
        {{ if (ne ($.Param "sharingicons") false) }}
        {{ partial "sharing.html" . }}
        {{ end }}
      </div>
    </section>
{{ partial "disqus" . }}
{{ partial "footer" . }}
