{{ partial "header" . }}
{{ partial "nav" . }}
    <section>
      <div class="hh-container">
        <div class="hh-post hh-content">
          <h1 class="hh-post__title">{{ .Title }}</h1>
          <p>{{ .Date.Format "January 2, 2006" }}</p>
          {{ if .Params.tags }}
            {{ partial "tags" .Params.tags }}
          {{ end }}
          {{ .Content }}
          {{ if .Params.related }}
          {{ $related := .Params.related }}
          <h3>関連記事</h3>
          <ul>
            {{ $page_link := .Permalink }}
            {{ $title := .Title }}
            {{ range (where .Site.Pages ".Params.related" $related) }}
            {{ $page := . }}
            {{ if ne $title  $page.Title }}
            <li><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></li>
            {{ end }}
            {{ end }}
          </ul>
          {{ end }}
          <div class="hh-pagination hh-display__flex--jcs--aic">
            <div>
              {{ if .Next }}
              <a class="hh-button" href="{{ .Next.Permalink }}"><i class="fa fa-angle-left"></i> 前の記事</a>
              {{ else }}
              <a class="hh-button is-disabled">前の記事</a>
              {{ end }}
            </div>
            <div>
              {{ if .Prev }}
              <a class="hh-button" href="{{ .Prev.Permalink }}">次の記事 <i class="fa fa-angle-right"></i></a>
              {{ else }}
              <a class="hh-button is-disabled">次の記事</a>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>
{{ partial "footer" . }}
