@import '../../node_modules/sanitize.css/sanitize.css'
@import './_partial/*'
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');

body
	font-family fontFamily
	line-height 2
	color textColor
	font-size 100%
	background-color #fefefe

// @media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
// 	body
// 		font-family 'Josefin Sans', Klee, '游ゴシック', YuGothic, fontFamily
// 	.hh-site_title
// 		font-family 'Josefin Sans', Klee, '游ゴシック', YuGothic, fontFamily

a
	color #ff7330
	text-decoration none
	font-weight 700
	word-break break-all
	&:hover
		color #ff7330
		text-decoration underline

img
	max-width 100%
	height auto

@import './_component/*'
