@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');
@import '../../node_modules/sanitize.css/sanitize.css'
@import './_partial/*'

body
	font-family "游ゴシック", YuGothic, fontFamily
	line-height 1.8
	color textColor
	font-size 100%
	background-color #fefefe

a
	color #F99F48
	text-decoration none
	&:hover
		color #F99F48
		text-decoration underline

img
	max-width 100%
	height auto

@import './_component/*'
