.footer__icons {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: 0 auto;
}
.footer__icons li a {
  color: #42464c;
}
.aligncenter {
  display: block;
  margin: 0 auto;
}
.alignright {
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1em;
}
.alignleft {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1em;
}
figure {
  text-align: center;
}
figcaption {
  color: #5f5f5f;
  margin-bottom: 1em;
  font-size: 90%;
}
figure img {
  max-width: 80%;
}

body {
  font-family: "游ゴシック", YuGothic, -apple-system, BlinkMacSystemFont, 'メイリオ', Arial, sans-serif;
}

.container {
  max-width: 760px;
}

/*.button {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
}*/

.hh-row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.hh-col-6 {
  max-width: 50%;
}
