    <footer>
      <div class="hh-container hh-footer">
{{ if eq (printf "%v" $.Site.BaseURL) "http://localhost:1313/" }}
{{- "<!-- code for localhost only -->" | safeHTML -}}
{{- else -}}
        <div class="hh-content" style="text-align: center;">
<!-- article_responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3669068670704645"
     data-ad-slot="2105798415"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>
{{- end -}}
        <div class="hh-content">
          <h4>このブログ書いてる人</h4>
          <p>シマ キョウスケと言います。<br />30 代 / 男 / 大阪在住で普段は web のお仕事をしています。<br />web site: <a href="https://shimakyohsuke.com/">https://shimakyohsuke.com/</a></p>
          <div class="hh-footer__icons hh-display__flex--jcs--aic">
            <p><a href="https://twitter.com/shima_x_o"><i class="fa fa-twitter fa-2x" aria-label="twitter" aria-hidden="true"></i></a></p>
            <p><a href="https://github.com/shimakyohsuke"><i class="fa fa-github fa-2x" aria-label="github" aria-hidden="true"></i></a></p>
            <p><a href="https://instagram.com/shimakyohsuke/"><i class="fa fa-instagram fa-2x" aria-label="instagram" aria-hidden="true"></i></a></p>
            <p><a href="https://www.flickr.com/photos/shimakyohsuke/"><i class="fa fa-flickr fa-2x" aria-label="flickr" aria-hidden="true"></i></a></p>
          </div>
          <div class="hh-display__flex--jcs--aic">
            <small>&copy; {{ now.Format "2006"}} {{ .Site.Copyright | safeHTML }}</small>
          </div>
        </div>
      </div>
    </footer>
{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{- $.Scratch.Add "path" .Site.BaseURL -}}
{{- $.Scratch.Add "breadcrumb" (slice (dict "url" .Site.BaseURL "name" "home" "position" 1 )) -}}
{{- range $index, $element := split $url "/" -}}
{{- $.Scratch.Add "path" $element -}}
{{- $.Scratch.Add "path" "/" -}}
{{- if ne $element "" -}}
{{- $.Scratch.Add "breadcrumb" (slice (dict "url" ($.Scratch.Get "path") "name" . "position" (add $index 2))) -}}
{{- end -}}
{{- end -}}
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{{ range $.Scratch.Get "breadcrumb" }}{{ if ne .position 1 }},{{ end }}{
              "@type": "ListItem",
              "position": {{ .position }},
              "item": {
                "@id": "{{ .url }}",
                "name": "{{ .name }}"
              }
          }{{ end }}]
      },
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "{{ .Site.Title }}",
        "url": "{{ .Site.BaseURL }}"
      },
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "{{ .Site.Params.author }}",
        "url": "{{ .Site.BaseURL }}"
      }
    </script>
  </body>
</html>
