    <header>
      <div class="hh-header">
        <div class="hh-site_meta">
          <div class="hh-site_meta__inner">
            <div>
              <p class="hh-site_title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></p>
              {{ with .Site.Params.description }}<p class="hh-site_tagline">{{ . }}</p>{{ end }}
            </div>
          </div>
        </div>
        <div class="hh-nav">
          <div class="hh-nav__inner">
            <nav>
              <ul class="hh-nav__list">
                <li><a href="/about/">このサイトについて</a></li>
                <li><a href="/privacy-policy/">プライバシーポリシー</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
