    <section class="section">
      <div class="container">
        <nav class="nav">
          <div class="nav-left">
            <a class="nav-item" href="{{ .Site.BaseURL }}"><h1 class="title is-4">{{ .Site.Title }}</h1></a>
          </div>
          <div class="nav-right">
            <nav class="nav-item level is-mobile">
              <a class="level-item" href="/about">このブログについて</a>
            </nav>
          </div>
        </nav>
      </div>
      {{ with .Site.Params.description }}<div class="container">
        <div>
          <p>{{ . }}</p>
        </div>
      </div>{{ end }}
    </section>
