

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300");

/*! sanitize.css v5.0.0 | CC0 License | github.com/jonathantneal/sanitize.css */

/* Document (https://html.spec.whatwg.org/multipage/semantics.html#semantics)
   ========================================================================== */

/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add box sizing inheritence in all browsers (opinionated).
 */

*,
::before,
::after {
	background-repeat: no-repeat; /* 1 */
	box-sizing: inherit; /* 2 */
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritence in all browsers (opinionated).
 */

::before,
::after {
	text-decoration: inherit; /* 1 */
	vertical-align: inherit; /* 2 */
}

/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Add the default cursor in all browsers (opinionated).
 * 3. Prevent font size adjustments after orientation changes in IE and iOS.
 */

html {
	box-sizing: border-box; /* 1 */
	cursor: default; /* 2 */
	-ms-text-size-adjust: 100%; /* 3 */
	-webkit-text-size-adjust: 100%; /* 3 */
}

/* Sections (https://html.spec.whatwg.org/multipage/semantics.html#sections)
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
	margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 2em;
	margin: .67em 0;
}

/* Grouping content (https://html.spec.whatwg.org/multipage/semantics.html#grouping-content)
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
	display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
	margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */

nav ol,
nav ul {
	list-style: none;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics (https://html.spec.whatwg.org/multipage/semantics.html#text-level-semantics)
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
	background-color: transparent; /* 1 */
	-webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
	font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
	font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
	background-color: #ffff00;
	color: #000000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}

/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */

::-moz-selection {
	background-color: #b3d4fc; /* 1 */
	color: #000000; /* 1 */
	text-shadow: none;
}

::selection {
	background-color: #b3d4fc; /* 1 */
	color: #000000; /* 1 */
	text-shadow: none;
}

/* Embedded content (https://html.spec.whatwg.org/multipage/embedded-content.html#embedded-content)
   ========================================================================== */

/*
 * Change the alignment on media elements in all browers (opinionated).
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
	display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
	border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */

svg {
	fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Tabular data (https://html.spec.whatwg.org/multipage/tables.html#tables)
   ========================================================================== */

/**
 * Collapse border spacing
 */

table {
	border-collapse: collapse;
}

/* Forms (https://html.spec.whatwg.org/multipage/forms.html#forms)
   ========================================================================== */

/**
 * Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	margin: 0;
}

/**
 * Inherit styling in all browsers (opinionated).
 */

button,
input,
select,
textarea {
	background-color: transparent;
	color: inherit;
	font-size: inherit;
	line-height: inherit;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
	-webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * 1. Remove the default vertical scrollbar in IE.
 * 2. Change the resize direction on textareas in all browsers (opinionated).
 */

textarea {
	overflow: auto; /* 1 */
	resize: vertical; /* 2 */
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive elements (https://html.spec.whatwg.org/multipage/forms.html#interactive-elements)
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Scripting (https://html.spec.whatwg.org/multipage/scripting.html#scripting-3)
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
	display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
	display: none;
}

/* User interaction (https://html.spec.whatwg.org/multipage/interaction.html#editing)
   ========================================================================== */

/*
 * Remove the tapping delay on clickable elements (opinionated).
 * 1. Remove the tapping delay in IE 10.
 */

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	-ms-touch-action: manipulation; /* 1 */
	touch-action: manipulation;
}

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
	display: none;
}

/* ARIA (https://w3c.github.io/html-aria/)
   ========================================================================== */

/**
 * Change the cursor on busy elements (opinionated).
 */

[aria-busy="true"] {
	cursor: progress;
}

/*
 * Change the cursor on control elements (opinionated).
 */

[aria-controls] {
	cursor: pointer;
}

/*
 * Change the display on visually hidden accessible elements (opinionated).
 */

[aria-hidden="false"][hidden]:not(:focus) {
	clip: rect(0, 0, 0, 0);
	display: inherit;
	position: absolute;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements (opinionated).
 */

[aria-disabled] {
	cursor: default;
}
body {
  font-family: 'Josefin Sans', 'YuGothic', -apple-system, BlinkMacSystemFont, 'メイリオ', Arial, sans-serif;
  line-height: 2;
  color: #1b435d;
  font-size: 100%;
  background-color: #fefefe;
}
a {
  color: #ff7330;
  text-decoration: none;
  font-weight: 700;
  word-break: break-all;
}
a:hover {
  color: #ff7330;
  text-decoration: underline;
}
img {
  max-width: 100%;
  height: auto;
}
.hh-article_list {
  margin-top: 60px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.hh-article_list__wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.hh-article_list__wrap::after {
  content: '';
  display: block;
  width: 30%;
}
.hh-article_list__title {
  margin: 0 0 8px;
  font-size: 107%;
  color: #1b435d;
  line-height: 1.5;
}
.hh-article_list__title a {
  font-weight: 400;
  color: #1b435d;
}
.hh-article_list__title a:hover {
  color: #f99f48;
}
.hh-article_list__description {
  margin-top: 0;
}
.hh-article_list__thumbnail {
  width: 100%;
}
.hh-article_list__thumbnail a {
  float: left;
  overflow: hidden;
}
.hh-article_list__thumbnail a:hover img {
  transform: scale(1);
}
.hh-article_list__thumbnail img {
  transform: scale(1.03);
  transition: 0.3s ease-in-out;
}
.hh-article_list__info {
  width: 100%;
  margin-top: 16px;
}
.hh-article_list .hh-meta .hh-meta__date {
  margin: 0;
  width: 100%;
}
@media screen and (max-width: 680px) {
  .hh-article_list {
    margin-top: 30px;
    -ms-flex-flow: column;
        flex-flow: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .hh-article_list__title {
    font-size: 113%;
  }
  .hh-article_list__thumbnail,
  .hh-article_list__info {
    width: 100%;
  }
  .hh-article_list__info {
    margin-top: 1em;
  }
  .hh-article_list__description {
    margin-bottom: 0;
  }
}
.hh-button {
  background-color: #f99f48;
  padding: 0 10px;
  color: #fff;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #f99f48;
  transition: 0.2s linear;
}
.hh-button:hover {
  color: #f99f48;
  text-decoration: none;
  background-color: #fff;
}
.hh-button.is-disabled {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #fff;
}
.hh-button.is-disabled:hover {
  color: #fff;
  text-decoration: none;
  background-color: #f2f2f2;
}
.hh-container {
  padding: 0 10px;
  font-size: 94%;
}
.hh-content {
  max-width: 720px;
  margin: 0 auto;
  background-color: #fff;
}
.hh-form input,
.hh-form textarea {
  margin-left: 1em;
  padding: 0.5em;
  font-family: 'Josefin Sans', 'YuGothic', -apple-system, BlinkMacSystemFont, 'メイリオ', Arial, sans-serif;
  min-width: 20em;
  border: solid #1b435d 1px;
}
.hh-form form > p {
  margin-bottom: 2em;
}
.hh-form form > p label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
}
.hh-form form > p button {
  background-color: #1b435d;
  color: #fff;
  border: 0;
  padding: 0.5em 1.5em;
}
.hh-form__submit {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.hh-flipsnap {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.hh-flipsnap__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  box-sizing: border-box;
}
.hh-flipsnap__item {
  margin: 0 1.4%;
  cursor: ew-resize;
}
.pointer {
  text-align: center;
}
.pointer span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  border: 1px solid #1b435d;
}
.pointer span.current {
  background: #2077b2;
}
.hh-footer {
  width: 100%;
  margin-top: 5em;
  padding-top: 2em;
  padding-bottom: 1em;
  border-top: 1px solid #1b435d;
  border-bottom: 5px solid #1b435d;
}
.hh-footer h4 {
  margin-bottom: 0;
}
.hh-footer__icons {
  width: 50%;
  margin: 0 auto;
}
.hh-footer__icons p a {
  color: #42464c;
}
.hh-footer small {
  font-family: 'Ek Mukta', sans-serif;
  font-weight: 200;
}
.hh-footer small a {
  color: #1b435d;
  font-weight: 400;
}
.hh-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.hh-header .hh-site_meta__inner {
  max-width: 720px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
@media screen and (max-width: 680px) {
  .hh-site_meta {
    padding: 5px;
  }
  .hh-site_meta__inner {
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hh-site_meta__inner > div {
    width: 100%;
  }
  .hh-site_meta__adsystem {
    display: none;
  }
}
.hh-meta {
  width: 100%;
  float: left;
}
.hh-meta__date {
  float: left;
  margin-right: 2em;
}
@media screen and (max-width: 680px) {
  .hh-meta {
    margin: 0 0 0.5em;
    display: -ms-flexbox;
    display: flex;
  }
  .hh-meta__date {
    margin: 0;
  }
}
.hh-nav {
  margin-top: 10px;
  border-top: 1px solid #1b435d;
  border-bottom: 1px solid #1b435d;
  background-color: #1b435d;
}
.hh-nav__inner {
  max-width: 720px;
  margin: 0 auto;
}
.hh-nav__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.hh-nav__list li a {
  color: #fff;
  font-size: 82%;
  display: block;
  padding: 0.4em 0.8em;
  text-decoration: none;
  font-weight: 400;
}
.hh-nav__list li a:hover {
  background: #fff;
  color: #1b435d;
  text-decoration: none;
}
@media screen and (max-width: 680px) {
  .hh-nav {
    padding: 5px;
    margin: 0;
  }
  .hh-nav__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-direction: row;
        flex-direction: row;
  }
  .hh-nav__list li {
    width: 50%;
  }
  .hh-nav__list li a {
    padding: 0;
    text-align: center;
  }
}
.hh-pagination {
  margin-top: 60px;
}
.hh-post.hh-content {
  max-width: 640px;
}
.hh-post h1,
.hh-post h2,
.hh-post h3,
.hh-post h4,
.hh-post h5,
.hh-post h6 {
  margin-top: 0;
  line-height: 1.5;
}
.hh-post h1:not(:first-child),
.hh-post h2:not(:first-child),
.hh-post h3:not(:first-child),
.hh-post h4:not(:first-child),
.hh-post h5:not(:first-child),
.hh-post h6:not(:first-child) {
  margin-top: 40px;
}
.hh-post .hh-post__title {
  margin-top: 40px;
  font-weight: normal;
  margin-bottom: 0;
  font-size: 188%;
}
.hh-post code {
  background-color: #f8f8f8;
}
.hh-post h1+h2:not(:first-child),
.hh-post h2+h3:not(:first-child),
.hh-post h3+h4:not(:first-child),
.hh-post h4+h5:not(:first-child),
.hh-post h5+h6:not(:first-child) {
  margin-top: 20px;
}
.hh-post h2 {
  border-bottom: 1px solid #78bbe6;
  padding-bottom: 8px;
  font-weight: normal;
  padding-left: 3px;
}
.hh-post h3 {
  border-left: 4px solid #78bbe6;
  padding: 4px 0 4px 10px;
  font-weight: normal;
}
.hh-post h4 {
  border-bottom: 1px dotted;
  padding-bottom: 8px;
  font-weight: normal;
  padding-left: 3px;
}
.hh-post strong {
  background: linear-gradient(transparent 70%, rgba(249,159,72,0.7) 70%);
}
.hh-post figure {
  margin: 1em 0;
  text-align: center;
}
.hh-post figure img {
  max-width: 90%;
}
.hh-post figcaption {
  color: #78bbe6;
  margin-bottom: 1em;
  font-size: 90%;
}
.hh-post table {
  width: 100%;
  border: 1px #ccc solid;
  border-bottom: 0;
  border-right: 0;
  table-layout: fixed;
  font-size: 94%;
  margin-bottom: 30px;
}
.hh-post table tr {
  border-bottom: 1px #ccc solid;
}
.hh-post table thead th {
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
  border-right: 1px #ccc solid;
}
.hh-post table tbody td {
  padding: 10px;
  box-sizing: border-box;
  border-right: 1px #ccc solid;
}
.hh-post table tbody th {
  border-right: 1px #ccc solid;
}
.hh-post hr {
  border-style: dashed;
  margin: 3em 0;
}
.hh-post .aligncenter {
  display: block;
  margin: 0 auto;
}
.hh-post .alignright {
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1em;
}
.hh-post .alignleft {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1em;
}
.hh-post blockquote {
  background: #e8e8e8;
  margin: 0;
  padding: 0.5em 1em;
  font-style: italic;
  font-weight: 700;
}
.hh-post .hh-add {
  overflow: hidden;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 680px) {
  .hh-post figure {
    margin: 0;
  }
  .hh-post figure img {
    max-width: 100%;
  }
  .hh-post .hh-post__title {
    font-size: 1.5em;
    margin-top: 1em;
  }
}
.hh-ad__for_mobile {
  display: none;
}
@media screen and (max-width: 680px) {
  .hh-ad__for_pc {
    display: none;
  }
  .hh-ad__for_mobile {
    display: block;
  }
}
.hh-site_tagline {
  font-size: 82%;
  margin: 0;
}
.hh-site_title {
  font-family: 'Josefin Sans', 'YuGothic', -apple-system, BlinkMacSystemFont, 'メイリオ', Arial, sans-serif;
  font-size: 175%;
  font-weight: 200;
  line-height: 1.2;
  margin: 20px 0 10px;
}
.hh-site_title a {
  text-decoration: none;
  color: #1b435d;
  font-weight: 400;
}
@media screen and (max-width: 680px) {
  .hh-site_title {
    margin-bottom: 0;
  }
}
.hh-sns {
  max-width: 40%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 60px;
}
@media screen and (max-width: 680px) {
  .hh-sns {
    max-width: 100%;
  }
}
.hh-tags {
  display: -ms-flexbox;
  display: flex;
}
.hh-tags__list {
  padding-left: 0.3em;
}
.hh-tags__list li {
  list-style-type: none;
  float: left;
}
.hh-tags__list li:before {
  content: ', ';
}
.hh-tags__list li:first-child {
  margin-left: 0;
}
.hh-tags__list li:first-child:before {
  content: none;
}
@media screen and (max-width: 680px) {
  .hh-tags {
    margin-left: 1em;
  }
  .hh-tags p,
  .hh-tags ul,
  .hh-tags li {
    margin: 0;
  }
  .hh-article_list__info .hh-tags {
    display: none;
  }
}
.hh-display__flex--jcs--aic {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
}
.hh-display__flex--jcsb--aic {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
